@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: rgb(104, 114, 119);
}

#main_app{
    background:#090A18;
    height: 100%;
}

img{
    height: 50%;
    width: 40%;
}

.my_container {
  display: flex;
  justify-content: center;
  align-items: center;
}